/*
Using position absolute to position elements with the dive. Nothing else makes sense
considering how arbitrary the element posistions are. Containers are therefore relative.
*/
.rdp-calculator > div {
  display: inline-block;
  position: relative;
  border: 1px solid grey;
  margin: 5px;
}
.rdp-calculator > div > * {
  position: absolute;
  width: 50px;
  height: 20px;
}
.rdp-calculator > div.dive {
  width: 400px;
  height: 200px;
  /* todo: bg image */
  /* to do: other blocks */
}
.rdp-calculator > div.dive .start-group {
  left: 5px;
  top: 5px;
}
.rdp-calculator > div.dive .start-o2exp {
  left: 5px;
  top: 30px;
}
.rdp-calculator > div.dive .depth {
  left: 50px;
  top: 80px;
}
.rdp-calculator > div.dive .duration {
  left: 200px;
  top: 170px;
}
.rdp-calculator > div.dive .ox-per {
  left: 5px;
  top: 120px;
}
.rdp-calculator > div.dive .adjusted-depth {
  left: 50px;
  top: 110px;
}
.rdp-calculator > div.dive .end-group {
  right: 5px;
  top: 5px;
}
.rdp-calculator > div.dive .end-o2exp {
  right: 5px;
  top: 30px;
}
.rdp-calculator > div.interval {
  width: 200px;
  height: 200px;
  /* todo: bg image */
  /* to do: other blocks */
}
.rdp-calculator > div.interval .start-group {
  left: 5px;
  top: 5px;
}
.rdp-calculator > div.interval .duration {
  left: 80px;
  top: 50px;
}
.rdp-calculator > div.interval .end-group {
  right: 5px;
  top: 5px;
}

